

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.appName {
    font-family: Rubik One, sans-serif;
}

.nav-item {
    color: black;
}

.jumbotron {
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-image: url('../images/bg 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

.title-name {
    position: relative;
    top: 300px;
    font-family: Rubik One;
    font-style: normal;
    font-weight: normal;
    font-size: 125px;
    color: #000000;
}

.section2 {
    border: 1px solid #FFFFFF;
    background: linear-gradient(38.45deg, #E4F1FF 41.14% /*bottom-right color*/, rgba(228, 241, 255, 0) 57.65% /*top-left color*/ ),linear-gradient(to bottom right, #E4F1FF 41.14% /*bottom-right color*/, rgba(228, 241, 255, 0) 57.65% /*top-left color*/ );
}

.section2 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #333333;
}

.section3 {
    background-image: url('../images/How it works.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

.section4 {
    background-image: url('../images/Meet the developers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

.section5 {
    background-image: url('../images/Sign up.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

.section6 {
    border: 1px solid #FFFFFF;
    height: 600px;
    background-color: rgb(228, 241, 255);
}

#bt {
    background-color: #F9A85A;
    border-style: none;
}

#cb {
    background: rgba(109, 175, 254, 0.7);
    border-radius: 10%;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.line-separator {
    background-color: black;
    flex-grow: 5;
    height: 1px
}

.or-container {
    align-items: center;
    color: black;
    display: flex;
    margin: 25px 0
}
/*
 * Media Queries
 */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron {
        background-image: url('../images/bg 1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .jumbotron {
        background-image: url('../images/bg 1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron {
        background-image: url('../images/bg 1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron {
        background-image: url('../images/bg 1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
    .jumbotron {
        background-image: url('../images/bg 1.jpg');
        background-position: 65%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
