@{
    ViewBag.Title = "About";
}
<div class="section4 py-5" id="au">
    <div class="container">
        <h1 class="py-lg-5" style="text-align: center;">TECH STACK</h1>
        <p class="lead py-lg-5" style="text-align: center;">MEET OUR TEAMS</p>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/images/d.jpg" style="width:auto; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Djulianne Dizon</h4>
                                <p class="card-text">
                                    I am the Project Manager of the Team TechStack
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/images/s.jpg" style="width:auto; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Steven Jake</h4>
                                <p class="card-text">
                                    I am the Hipster or the Designer of the Team TechStack
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/images/c.jpg" style="width:auto; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Ceejay Abellanosa</h4>
                                <p class="card-text">
                                    I am the programmer in the team TechStack
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/images/m.jpg" style="width:auto; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Mark Aragones</h4>
                                <p class="card-text">
                                    I am the assistant programmer in the team TechStack
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->



            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>