
@{
    ViewBag.Title = "Works";
}

<div class="section3 py-5" id="hiw">
    <div class="container">
        <h1 class="py-5" style="text-align: center;">How it Works</h1>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">Share your Business Story / Plan</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">Gain Funds</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">Donate Funds</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->



            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>
